/* -------------------------------------------------------
					ONLY DEFAULT COLOR SKIN
------------------------------------------------------- */

a { color: #019875;}
a:hover,
a:focus { color: #019875;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{ color:#019875}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {color:#019875;}
p  span, p a{ color:#019875;}
.color-default{ color:#019875 !important}
.bg-default{background:#019875;}
.dropdown-menu{ border-color:#019875;}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus { background-color: #019875; border-color:#019875;}
.mega-menu-item .mega-menu{ border-color:#019875;}
.cd-primary-nav { background: #019875;}
.btn-default, .btn-white:hover { background-color: #019875;}
.portfolio-bottom p a:hover{ border-color:#019875; color:#019875;}
.feature-list i { background:#019875;}
.counter .quantity-counter{ color:#019875;}
.happy-clients h2{ color:#019875;}
.about-client span{ color:#019875;}
.text-slider .owl-controls .owl-pagination .owl-page.active span,
.text-slider .owl-controls .owl-pagination .owl-page span:hover{border-color:#019875; background:#019875}
.resp-tab-item  a:hover, .resp-tab-active a{ background:#019875}
.pointer-icon{ background: #019875;}
.pointer-icon:after { border-top-color: #019875;}
.address-list li a:hover {color: #019875 !important;}
.tags-cloud li a:hover{ background:#019875; border-color:#019875;}
.animated-border-nav li a.active{ color: #019875;}
.animated-border-nav li a.active:before{background: #019875;}
.tri-sec:hover h3, .tri-sec:hover i, .tri-sec:hover a{ color:#019875;}
.tri-sec:hover a.link{ color:#019875;}
.smallHeader .navbar-default.animated-border-nav li a:hover, .smallHeader .navbar-default.animated-border-nav li a.active { color:#019875 ;}
.creative-sec-thumb figcaption { color:#019875;}
.portfolio-item a:hover{ color:#019875;}
.clients-feedback{ background:#019875;}
.footer-light .tweets p a{ color:#019875;}
.footer-light.tweets i{ color:#019875;}
.footer-light .footer-about a:hover{ color:#019875}
.footer-light .footer-post h4 a:hover{color: #019875;}
.navbar-default.nav-boxed .navbar-nav > li:hover > a, .navbar-default.nav-boxed .navbar-nav > li > a.active{ background:#019875;}
.round-icon i{ color:#019875;}
.round-icon:hover, .tri-sec:hover .round-icon{ border-color:#019875;box-shadow: 0 0 0 6px #019875 inset;}
.round-icon:hover i, .tri-sec:hover .round-icon i{ background:#019875;}
.btn-dark:hover { background-color: #019875;}
.blog-post-classic a:hover span{ background:#019875;}
.footer-nav-widget li a:hover{ color:#019875;}
.navbar-default.nav-border-bottom .navbar-nav.nav > li:hover > a, .navbar-default.nav-border-bottom .navbar-nav.nav > li > a.active{ border-color:#019875;}
@media (max-width: 992px) {
.navbar-default.nav-border-bottom .navbar-nav.nav > li > a:hover, .navbar-default.nav-border-bottom .navbar-nav.nav > li.open > a {background: #019875 !important;border-color: #019875 !important;}
}
.list-bullets li{  background: url("../images/bullet-dark-green.png") no-repeat 0 7px;}
.number-icon{  background: url("../images/number-marker-dark-green.png") no-repeat scroll 0 0;}
.our-process-tabs .resp-tab-item a:hover, .our-process-tabs .resp-tab-active a, .resp-tab-active{ border-color:#019875 !important; color:#019875 !important;}
.our-process-tabs .resp-tabs-container .process.icon1{ background:url(../images/icon1-dark-green.png) no-repeat 0 0;}
.our-process-tabs .resp-tabs-container .process.icon2{ background:url(../images/icon2-dark-green.png) no-repeat 0 0;}
.our-process-tabs .resp-tabs-container .process.icon3{ background:url(../images/icon3-dark-green.png) no-repeat 0 0;}
.our-process-tabs .resp-tabs-container .process.icon4{ background:url(../images/icon4-dark-green.png) no-repeat 0 0;}
.progress { background-color: #019875;}
.round-icon-fill:hover, .tri-sec:hover .round-icon-fill{ border-color:#019875;}
.round-icon-fill:hover i, .tri-sec:hover .round-icon-fill i{ background:#019875;}
.studio-section{ background:#019875;}
.people-excited .owl-controls .owl-pagination .owl-page.active span, .people-excited .owl-controls .owl-pagination .owl-page span:hover{ background:#019875 !important; border-color:#019875 !important;}
.tri-sec:hover .pointer:before {	border-top-color: #019875;}
.tri-sec:hover .pointer{ border-color:#019875;}
.comment-reply-link:hover, .comment-reply-link:focus { background:#019875}
.grid .blog-post a.read-more:hover{ border-color:#019875; color:#019875;}
.simple-tabs .resp-tabs-list li.resp-tab-active a, .simple-tabs .resp-tabs-list li a:hover{ background:#019875;}
.breadcrumbs li a:hover{ color:#019875;}
.contact-info-widget-boxed li a:hover{ color:#019875}
.contact-info-widget p a:hover{color: #019875;}
.error-goto-btn:hover{ color:#019875}
.toggle.active .toggle-heading{ color:#019875;}
#history-slider-pager li.rslides_here a{ color:#019875;}
.bordered-tabs .resp-tabs-list li a:hover, .bordered-tabs li.resp-tab-active a { border-color:#019875 !important;background:#019875;}
.small-text a:hover{ border-color:#019875; color:#019875;}
.project-detail-pagination li a:hover{ color:#019875;}
.result-content-inner  .name a:hover{ border-color: #019875;color: #019875;}
.portfolio-filter-nav .filter:hover, .portfolio-filter-nav .filter.active{ background:#019875;}
.tooltip-inner { background-color: #019875;}
.tooltip.top .tooltip-arrow { border-top-color: #019875;}
.tooltip.top-left .tooltip-arrow { border-top-color: #019875;}
.tooltip.top-right .tooltip-arrow { border-top-color: #019875;}
.tooltip.right .tooltip-arrow { border-right-color: #019875;}
.tooltip.left .tooltip-arrow { border-left-color: #019875;}
.tooltip.bottom .tooltip-arrow { border-bottom-color: #019875;}
.tooltip.bottom-left .tooltip-arrow { border-bottom-color: #019875;}
.tooltip.bottom-right .tooltip-arrow { border-bottom-color: #019875;}
.product-thumb label{ background: #019875;}
.ui-widget-header { background: #019875;}
.price{ color:#019875;}
.product-description .product-cart-btn:hover, .product-description .product-detail-btn:hover{ color:#019875;}
.ratings i{ color:#019875;font-size: 16px;}
.resp-vtabs li.resp-tab-active {color:#019875;}
.normal-tabs .resp-tabs-list li.resp-tab-active a, .normal-tabs .resp-tabs-list li a:hover{ border-color:#019875;}
.resp-vtabs.normal-tabs-vertical .resp-tabs-list  li.resp-tab-active, .resp-vtabs.normal-tabs-vertical .resp-tabs-list  li:hover{ border-color:#019875 !important;}
.toggle.toggle-bg.active .toggle-heading{ background-color:#019875;}
.normal-tabs-bordered-btns .resp-tabs-list .resp-tab-item.resp-tab-active a,
.normal-tabs-bordered-btns .resp-tabs-list .resp-tab-item a:hover{ border-color:#019875;}
.jplist-btn{ border-color: #019875;}
.paging .current, .paging span:hover{ background:#019875}
#jlocator .store:hover{background-color:#019875;}
.reading-box{ border-color:#019875;}
.carousel-indicators.tab-banner-nav li.active:after, .carousel-indicators.tab-banner-nav li:hover:after{ border-bottom-color:#019875;}
.carousel-indicators.tab-banner-nav li.active, .carousel-indicators.tab-banner-nav li:hover{ background:#019875}
.footer.footer-boxed-light .footer-about a:hover,
.footer.footer-boxed-light .footer-post h4 a:hover,
.footer.footer-wide-light .tweets p a,
.footer.footer-wide-light .footer-about a:hover,
.footer.footer-wide-light .footer-post h4 a:hover{ color:#019875;}
.light-blue-bg .blue-heading{ color:#019875;}



.btn.btn-default  { background:#019875;}
/******** should be dark for hover effect ********/
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default { background-color: #018869;}





.counter-iconic .col-md-3:nth-child(1){ background:#019875;} /* default color */
.counter-iconic .col-md-3:nth-child(2){ background:#1aa283;} /* default color light 1 */
.counter-iconic .col-md-3:nth-child(3){ background:#27a78a;} /* default color light 2 */
.counter-iconic .col-md-3:nth-child(4){ background:#34ad91;} /* default color  light 3 */


#wrapper .pagination a:hover{background: #019875 !important;}
#wrapper .pagination .current{background: #019875 !important;}
.sidebar-widget .tagcloud a:hover,.footer-widget .tagcloud a:hover,#wrapper .woocommerce input.button{border-color: #019875 !important;background: #019875 !important;}
#wrapper .woocommerce-error,#wrapper .woocommerce-info, #wrapper .woocommerce-message, #wrapper .woocommerce-noreviews,#wrapper .woocommerce .woocommerce-error, #wrapper .woocommerce .woocommerce-info, #wrapper .woocommerce .woocommerce-message,#wrapper .woocommerce .cart .button,#wrapper .woocommerce .cart_totals .checkout-button,
#wrapper .shipping .button,#wrapper .login .button,#wrapper .checkout_coupon .button,
#wrapper .lost_reset_password .button,#wrapper #place_order,#wrapper .return-to-shop .button,#wrapper .woocommerce .cart .button:hover,#wrapper .woocommerce .cart_totals .checkout-button:hover,
#wrapper .shipping .button:hover,#wrapper .login .button:hover,#wrapper .checkout_coupon .button:hover,
#wrapper .lost_reset_password .button:hover,#wrapper #place_order:hover,#wrapper .return-to-shop .button:hover {background-color: #019875 !important;}
#wrapper .woocommerce .woocommerce-message {border-top-color: #019875 !important;}
.images.andr label,.counter-iconic,.navbar-default.nav-boxed .navbar-nav.header-three > li#active-item > a,.animated-border-nav li#active-item a:before {background: #019875 !important;}
.sidebar-widget ul.product_list_widget li a:hover,.animated-border-nav li#active-item a {color: #019875 !important;}
.navbar-default.nav-border-bottom .navbar-nav.nav > li#active-item > a {border-color: #019875 !important;}
.woocommerce .woocommerce-info {border-top-color: #019875;}



